<!-- .section -->
<section class='section'>
        <div class=' container'>
    <div class='columns'>
        <div class='column'>

        </div>
        <div class='column center'>
            <!-- FORM HERE -->
            <input id='searchBar' class='input is-rounded' type='text' placeholder='Search Books'>
            <input class='button is-primary is-light' type='submit' value='Submit' id='searchBtn'></button>
        </div>
        <br>
        <br>
        <div class="column">
            <div class="columns has-text-centered" id="bookResults">
            </div>
        </div>
        <div class='column'>
        </div>
    </div>
    <div class='container'>
        <div class='columns'>
            <div class='column'>
                <div class='notification is-primary'>
                    <h1 class='title is-size-4 center'>
                        <a href='#'>BOOKS I WANT TO READ</a>
                        <br>
                        <ol>
                            {{#each toRead}}
                            <p> {{title}} </p>
                            <p> {{title}} </p>
                            <p> {{title}} </p>
                            {{/each}}
                        </ol>
                    </h1>

                </div>
            </div>
            <div class='column'>
                <div class='notification is-primary'>
                    <h1 class='title is-size-4 center'>
                        <a href='#'>BOOKS I'VE READ</a>
                    </h1>
                    <br>
                    <ol>
                        {{#each haveRead}}
                        <p> {{title}} </p>
                        <p> {{title}} </p>
                        <p> {{title}} </p>
                        {{/each}}
                    </ol>
                </div>
            </div>
            <div class='column'>
                <div class='notification is-primary'>
                    <h1 class='title is-size-4 center'>
                        <a href='#'>BOOKS I'M CURRENTLY READING</a>
                    </h1>
                    <br>
                    <ol>
                        {{#each currently}}
                        <p> {{title}} </p>
                        <p> {{title}} </p>
                        <p> {{title}} </p>
                        {{/each}}
                    </ol>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.section -->