<!-- .hero -->
<section class='hero'>
    <div class='random header-color hero-body'>
        <div class='container'>
            <div class='has-text-right'>
                <a class='button is-small is-primary' id='logoutBtn'
                    style="border-color:#FFFFFF; background-color:rgba(0,0,0,0); color:#FFFFFF">Logout</a>
                {{!-- <h3 id='username' class='subtitle '>
                    Hello, {{Username}}!
                </h3> --}}
            </div>

            <span class='has-text-centered'>
                <img class="has-image-centered" src="../images/shelfie.png" alt="shelfie"
                    style="width:250px;height:250px;">
                <h3 id='username' class='subtitle '>
                    Hello, {{Username}}!
                </h3>
            </span>

        </div>
    </div>
</section>
<br>
<br>
<!-- /.hero -->
<!-- .section -->
<section class='section'>
    <div class=' container'>
        <form>
            <div class='columns is-centered'>
                <div class='column is-half center'>
                    <!-- FORM HERE -->
                    <input id='searchBar' class='input is-rounded' type='text' placeholder='Search Books'>
                    <input class='button is-primary is-light' type='submit' value='Submit' id='searchBtn'></button>
                </div>
        </form>

    </div>
    <br>
    <br>
    <div class="columns">
        <div class="column" id="bookDiv">
        </div>
    </div>
    <div class='container'>
        <div class='columns'>
            <div class='column'>
                <div class='shelf notification center'>
                    <h1 class='center'>UNREAD BOOKS</h1>
                    <br>
                    {{#each Unread}}
                        <h3 data-id={{id}}> {{book_title}} 
                            <button class="change" data-newRead='Current' data-id={{id}}>
                                Move
                            </button>
                            <button class="delete" data-id={{id}}>
                                Delete
                            </button>
                        </h3>
                    {{/each}}
                </div>
            </div>
            <div class='column'>
                <div class='shelf notification center'>
                    <h1 class='center'>
                        CURRENTLY READING
                    </h1>
                    <br>
                    {{#each Current}}
                        <h3 data-id={{id}}> {{book_title}} 
                            <button class="change" data-newRead='Read' data-id={{id}}>
                                Move
                            </button>
                            <button class="delete" data-id={{id}}>
                               Delete
                            </button>
                        </h3>
                    {{/each}}
                </div>
            </div>
            <div class='column'>
                <div class='shelf notification center'>
                    <h1 class='center'>BOOKS I'VE READ</h1>
                    <br>
                    {{#each Read}}
                        <h3 data-id={{id}}> {{book_title}} 
                            <button class="change" data-newRead='Unread' data-id={{id}}>
                                Move
                            </button>
                            <button class="delete" data-id={{id}}>
                                Delete
                            </button>
                        </h3>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.section -->
<script type="text/javascript" src="../js/members.js"></script>
<script src="../js/books.js"></script>